<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://cdn-swg.swagger.vip/css/element-ui-2.15.10.css">
    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn-swg.swagger.vip/js/vue-2.7.10.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://cdn-swg.swagger.vip/js/element-ui-2.15.10.js"></script>
    <script src="https://cdn-swg.swagger.vip/js/axios.min.js"></script>
    <style>
        body, html {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0;
            padding: 0;
        }

        input[aria-hidden=true] {
            display: none !important;
        }

        .highlight {
            background-color: yellow;
            color: red;
            font-weight: bold;
            border-radius: 2px;
        }

    </style>

</head>
<body style="display: flex;
    justify-content: center;">
<div id="app" style="width: 96%;margin-top: 14px;">
    <template>
        <div v-loading="loading" style="height: 100%">
            <el-container>
                <el-header style="height: unset">
                    <el-form :model="listQuery" class="demo-form-inline" @submit.native.prevent label-width="80px">
                        <el-form-item label="文件名">
                            <el-col :span="14">

                                <el-input v-model="listQuery.key" placeholder="文件名"
                                          @keyup.enter.native="handleSearch"
                                          clearable></el-input>
                            </el-col>
                            <el-col :span="8">
                                <el-button style="margin-left: 20px;float:right" type="success"
                                           @click="getClipboardContent">粘贴
                                </el-button>
                                <el-button style="float:right" type="primary" @click="handleSearch">查询</el-button>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="地址">
                            <el-col :span="16">
                                <el-radio-group v-model="radio" @change="skipChange" :disabled="urlObj==null">
                                    <el-radio :label="0">互联网</el-radio>
                                    <el-radio :label="1">加密内网</el-radio>
                                </el-radio-group>
                            </el-col>
                            <el-col :span="6">
                                <el-button style="margin-left: 20px;float:right" type="danger" @click="clearAllCookies">
                                    退出
                                </el-button>
                                <!--                                <el-button style="margin-left: 20px;float:right" type="success" @click="add">新增-->
                                <!--                                </el-button>-->
                                <el-button style="margin-left: 20px;float:right" type="warning"
                                           @click="exportInvalidFile">导出无效文件
                                </el-button>
                            </el-col>
                        </el-form-item>
                        <el-form-item label="文本分割">
                            <el-input-number size="mini" v-model="keyNum" :min="1" :max="10"
                                             label="关键词数" @change="keyNumChange"></el-input-number>

                            <el-radio v-model="splitFlag" :label="false">否</el-radio>
                            <el-radio v-model="splitFlag" :label="true">是</el-radio>

                            <span style="margin-left: 20px">{{listQuery.searchText}}</span>
                        </el-form-item>
                    </el-form>
                </el-header>
                <el-main>
                    <el-button @click="handleCompare">对比</el-button>

                    <el-table
                            ref="multipleTable"
                            tooltip-effect="dark"
                            :data="tableData"
                            @selection-change="handleSelectionChange"
                            style="width: 100%">
                        <el-table-column
                                type="selection"
                                width="55">
                        </el-table-column>
                        <el-table-column
                                prop="name"
                                label="名称"
                                width="180">
                            <template slot-scope="scope">
                                <el-link :underline="false" @click="skip(scope.row)"><span
                                        v-html="scope.row.name"></span></el-link>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="dir"
                                label="类型"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="path"
                                label="路径"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                prop="changeTime"
                                label="时间">
                        </el-table-column>
                        <el-table-column
                                prop="size"
                                label="大小">
                        </el-table-column>
                        <!--                        <el-table-column-->
                        <!--                                prop="index"-->
                        <!--                                label="设备">-->
                        <!--                        </el-table-column>-->
                        <el-table-column
                                fixed="right"
                                label="操作"
                                width="80">
                            <template slot-scope="scope">
                                <el-button
                                        @click.native.prevent="copyPath(scope.row)"
                                        type="text"
                                        size="small">
                                    复制地址
                                </el-button>
                                <span>
                                <el-button
                                        @click.native.prevent="createTmp(scope.row)"
                                        type="text"
                                        size="small">
                                    创建文本
                                </el-button>
                                </span>
                                <el-popconfirm
                                        icon="el-icon-info"
                                        icon-color="red"
                                        title="确定删除吗？"
                                        @confirm="delFile(scope.row)"
                                >
                                    <el-button type="text" slot="reference">删除</el-button>
                                </el-popconfirm>
                            </template>
                        </el-table-column>
                    </el-table>
                </el-main>
            </el-container>

            <div class="pagination-container" style="margin-top:16px;text-align:right;">
                <el-pagination
                        background
                        layout="total, sizes,prev, pager, next,jumper"
                        :page-size="listQuery.pageSize"
                        :page-sizes="[10,20,50,100]"
                        :pager-count="5"
                        :current-page.sync="listQuery.pageNum"
                        :total="total"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                />
            </div>

            <el-dialog
                    title="登录"
                    :visible.sync="dialogVisible"
                    width="30%"
                    :before-close="handleClose"
                    v-loading="loginLoading"
            >
                <el-form :model="loginData" label-width="50px" @submit.native.prevent>
                    <el-form-item label="账号">
                        <el-input v-model="loginData.name" placeholder="账号" clearable></el-input>
                    </el-form-item>

                    <el-form-item label="密码">
                        <el-input v-model="loginData.pwd" show-password placeholder="密码"
                                  @keyup.enter.native="login"></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
    <el-button @click="handleClose">取 消</el-button>
    <el-button type="primary" @click="login">确 定</el-button>
  </span>
            </el-dialog>

            <el-dialog
                    title=新增
                    :visible.sync="dialogVisibleAdd"
                    width="30%"
                    :before-close="handleClose"

            >
                <el-form :model="watchData" label-width="50px" @submit.native.prevent>
                    <el-form-item label="主机">
                        <el-select
                                v-model="watchData.index" placeholder="主机" clearable>
                            <el-option
                                    v-for="item in hostNameData"
                                    :key="item.id"
                                    :label="item.hostName"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item label="用户">
                        <el-select
                                multiple
                                v-model="watchData.uId" placeholder="用户"
                        >
                            <el-option
                                    v-for="item in userData"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="路径">
                        <el-input v-model="watchData.path" placeholder="路径"
                        ></el-input>
                    </el-form-item>
                    <el-form-item label="主机">
                        <el-input v-model="watchData.url" placeholder="自定义主机"
                        ></el-input>
                    </el-form-item>
                </el-form>
                <span slot="footer" class="dialog-footer">
    <el-button @click="handleCloseAdd">取 消</el-button>
    <el-button type="primary" @click="addWatch" :loading="addLoading">确 定</el-button>
  </span>
            </el-dialog>
        </div>
    </template>
</div>
</body>

<script type="text/javascript">
    const defualtListQuery = {
        pageNum: 1,
        pageSize: 10,
        offset: 0,
        key: null,
        searchText: null
    };
    const defualtLogin = {
        name: "",
        pwd: "",
    };
    const defualtWatch = {
        uId: [],
        path: "",
        index: null,
        url: "",
    };
    var v1 = new Vue({
        el: "#app",
        data: function () {
            return {
                radio: localStorage.getItem("fileSwageerRadio") ? parseInt(localStorage.getItem("fileSwageerRadio")) : 0,
                urlObj: [
                ],
                splitFlag: true,
                listQuery: Object.assign({}, defualtListQuery),
                loginData: Object.assign({}, defualtLogin),
                watchData: Object.assign({}, defualtWatch),
                tableData: [],
                hostNameData: [],
                userData: [],
                total: null,
                keyNum: localStorage.getItem("fileSwageerKeyNum") || 2,
                config_url: "",
                // config_url: "",
                skipUrl: "",
                dialogVisible: false,
                loading: false,
                loginLoading: false,
                addLoading: false,
                dialogVisibleAdd: false,
                token: null,
                multipleSelection: [],
                compareResult: {}
            }
        },
        created() {
            this.skipUrl = this.urlObj[this.radio]
            this.token = localStorage.getItem('fileSwageerToken')
            // 在 axios 初始化或页面加载时添加拦截器
            axios.interceptors.response.use(
                response => response,
                error => {
                    if (error.response && error.response.status === 401) {
                        this.dialogVisible = true
                        this.$message.error(error.response.data.message || '未授权访问')
                    }
                    return Promise.reject(error)
                }
            )
            if (this.token) {
                // 设置全局 header
                axios.defaults.headers['token'] = this.token;
            }
            // this.getUrlOptions()
        },
        methods: {
            keyNumChange() {
                localStorage.setItem("fileSwageerKeyNum", this.keyNum)
            },
            async post(url, data) {
                let result
                await axios.post(url, data).then(res => {
                    if (res.status === 200 && res.data.status === 200) {
                        result = res.data
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch(err => {
                    this.$message.error(err);
                }).finally(() => {
                    this.toggleLoginLoading()
                })
                return result
            },
            async handleCompare() {
                if (this.multipleSelection.length != 2) {
                    this.$message.warning("需要选择两个文件");
                    return
                }
                this.toggleLoginLoading()

                let path1 = this.multipleSelection[0].path
                let path2 = this.multipleSelection[1].path
                let key = path1 + path2
                if (this.compareResult[key]) {
                    this.$message.success(this.compareResult[key])
                    return;
                }
                let data = await this.post(this.config_url + "/files/compare", {path1, path2})
                debugger
                if (data) {
                    this.$message.success(data.data)
                    this.compareResult[key] = data.data
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            formatDate(ms) {
                const date = new Date(ms);
                let format = 'YYYY-MM-DD HH:mm:ss'
                const map = {
                    'YYYY': date.getFullYear(),
                    'MM': String(date.getMonth() + 1).padStart(2, '0'),
                    'DD': String(date.getDate()).padStart(2, '0'),
                    'HH': String(date.getHours()).padStart(2, '0'),
                    'mm': String(date.getMinutes()).padStart(2, '0'),
                    'ss': String(date.getSeconds()).padStart(2, '0'),
                    'SSS': String(date.getMilliseconds()).padStart(3, '0')
                };

                return format.replace(/YYYY|MM|DD|HH|mm|ss|SSS/g, match => map[match]);
            },
            login() {
                if (this.loginData.name && this.loginData.pwd) {
                    this.toggleLoginLoading()
                    axios.post(this.config_url + "/filess/login", this.loginData).then(res => {
                        if (res.status === 200 && res.data.status === 200) {
                            localStorage.setItem('fileSwageerToken', res.data.data)
                            this.token = res.data.data
                            axios.defaults.headers['token'] = this.token;
                            // this.getUrlOptions()
                            this.handleClose()
                        } else {
                            this.$message.error(res.data.message);
                        }
                    }).catch(err => {
                        this.$message.error(err);
                    }).finally(() => {
                        this.toggleLoginLoading()
                    })
                }
            },
            async copyPath(row) {
                try {
                    // 使用 Clipboard API 获取剪贴板内容
                    navigator.clipboard.writeText(row.path);
                } catch (err) {
                    console.error('设置剪贴板出错: ', err);
                }
            },
            createTmp(row) {
                let name = row.nameC
                if (!this.isDir(row)) {
                    name = name.slice(0, name.lastIndexOf(".")) + '-' + row.size
                }
                let url = this.config_url + "/filess/create"
                axios.post(url, {'names': [name]}).then(res => {
                    if (res.data.status === 200) {
                        this.$message.success(res.data.message);
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch(err => {
                    this.$message.error(err);
                }).finally(() => {
                })
            },
            exportInvalidFile() {
                this.$confirm('确定要导出无效文件吗？', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    // 使用 axios 发送 POST 请求并触发下载
                    axios({
                        method: 'post',
                        url: this.config_url + '/filess/exportInvalid',
                        responseType: 'blob'
                    }).then(response => {
                        // 创建下载链接
                        const url = window.URL.createObjectURL(new Blob([response.data]));
                        const link = document.createElement('a');
                        link.href = url;
                        // 从响应头获取文件名
                        const disposition = response.headers['content-disposition'];
                        let filename = 'invalid_nodes.json';
                        if (disposition) {
                            const match = disposition.match(/filename=(.+)/);
                            if (match && match[1]) {
                                filename = decodeURIComponent(match[1]);
                            }
                        }
                        link.setAttribute('download', filename);
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                        window.URL.revokeObjectURL(url);
                    });
                });
            },
            delFile(row) {
                this.toggleAddLoading()
                let data, url
                if (row.invalid) {

                    data = {"id": row.id}
                    url = this.config_url + "/filess/deleteInvalid"
                } else {

                    data = {"path": row.path}
                    url = this.config_url + "/filess/delete"
                }
                axios.post(url, data).then(res => {
                    if (res.data.status === 200) {
                        this.$message.success(res.data.message);
                        this.dialogVisibleAdd = false
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch(err => {
                    this.$message.error(err);
                }).finally(() => {
                    this.toggleAddLoading()
                })
            },
            handleClose() {
                this.dialogVisible = false
                this.loginData = Object.assign({}, defualtLogin)
            },
            handleCloseAdd() {
                this.dialogVisibleAdd = false
                this.watchData = Object.assign({}, defualtWatch)
            },
            skipChange(val) {
                if (!this.urlObj) {
                    this.dialogVisible = true
                    return
                }
                this.skipUrl = this.urlObj[val]
                localStorage.setItem("fileSwageerRadio", val)
            },
            skip(row) {
                let path = row.path.replace("/mnt/", this.skipUrl)
                window.open(path);
            },
            isDir(row) {
                if (!row.size || (row.dir && row.dir === 1)) {
                    return true
                }
                return false
            },
            handleSearch() {
                this.listQuery.pageNum = 1;
                this.listQuery.offset = 0
                this.getList();
            },
            async getClipboardContent() {
                try {
                    // 使用 Clipboard API 获取剪贴板内容
                    const text = await navigator.clipboard.readText();
                    this.listQuery.key = text
                    this.handleSearch()
                } catch (err) {
                    console.error('读取剪贴板出错: ', err);
                }
            },
            handleCurrentChange(val) {
                window.scrollTo(0, 0);
                this.getList();
            },
            clearAllCookies() {
                // 清除 localStorage 中的 token
                localStorage.removeItem('fileSwageerToken');

                // 清除 axios 的 token header（直接删除 headers 上的属性）
                delete axios.defaults.headers['token'];
                const cookies = document.cookie.split(';');

                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i];
                    const eqPos = cookie.indexOf('=');
                    const name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
                    document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:00 GMT';
                }
            },
            add() {
                this.users()
                this.hostNames()
                this.dialogVisibleAdd = true
            },
            handleSizeChange(val) {
                window.scrollTo(0, 0);
                this.listQuery.pageNum = 1;
                this.listQuery.offset = 0
                this.listQuery.pageSize = val;
                this.getList();
            },
            formatFileSize(sizeInBytes) {
                if (sizeInBytes) {
                    const units = ["B", "KB", "MB", "GB", "TB"];
                    let unitIndex = 0;
                    let fileSize = parseFloat(sizeInBytes);
                    while (fileSize >= 1024 && unitIndex < units.length - 1) {
                        fileSize /= 1024;
                        unitIndex++;
                    }
                    const formattedSize = fileSize.toFixed(2);
                    const unit = units[unitIndex];
                    return `${formattedSize} ${unit}`;
                }
                return "";
            },
            toggleLoading() {
                this.loading = !this.loading;
                if (this.loading) {
                    // 禁止页面滚动
                    this.stopScroll();
                } else {
                    // 恢复页面滚动
                    this.canScroll();
                }
            },
            toggleLoginLoading() {
                this.loginLoading = !this.loginLoading;
                if (this.loginLoading) {
                    // 禁止页面滚动
                    this.stopScroll();
                } else {
                    // 恢复页面滚动
                    this.canScroll();
                }
            },
            toggleAddLoading() {
                this.addLoading = !this.addLoading;
                // if (this.addLoading) {
                //     // 禁止页面滚动
                //     this.stopScroll();
                // } else {
                //     // 恢复页面滚动
                //     this.canScroll();
                // }
            },
            stopScroll() {
                document.body.style.overflow = 'hidden';
                document.addEventListener('touchmove', this.preventDefault, {passive: false});
            },
            canScroll() {
                document.body.style.overflow = '';
                document.removeEventListener('touchmove', this.preventDefault);
            },
            preventDefault(e) {
                e.preventDefault();
            },
            splitBySymbols(text) {
                const pattern = /[^\p{L}\p{N}]+/gu;
                const cleanParts = text.split(pattern).filter((part) => part);
                return cleanParts;
            },
            getLongestTwoStrings(stringList) {
                const sortedStrings = stringList.sort((a, b) => b.length - a.length);
                return sortedStrings.slice(0, this.keyNum);
            },
            async getList() {
                if (!this.listQuery.key) {
                    return
                }
                let arr = []
                this.toggleLoading()
                if (this.splitFlag) {
                    arr = this.getLongestTwoStrings(this.splitBySymbols(this.listQuery.key));
                } else {
                    // this.listQuery.key = this.listQuery.key.length > 10 ? this.listQuery.key.slice(0, 10) : this.listQuery.key
                    arr.push(this.listQuery.key)
                }
                let tmpSearch = ''
                for (let i = 0; i < arr.length; i++) {
                    arr[i] = arr[i].length > 10 ? arr[i].slice(0, 10) : arr[i]
                    tmpSearch = tmpSearch === '' ? arr[i] : tmpSearch + "、" + arr[i]
                }
                // 将所有元素转为小写
                arr = arr.map(item => item.toLowerCase())
                let offset = (this.listQuery.pageNum - 1) * this.listQuery.pageSize
                this.listQuery.searchText = tmpSearch
                new Promise((resolve, reject) => {
                    axios.post(this.config_url + "/filess/search", {
                        offset: offset,
                        limit: this.listQuery.pageSize,
                        key: arr,
                        sortBy:"time"
                    }).then(res => {
                        if (res.data.status === 200) {
                            this.tableData = []
                            let data = res.data.data.results
                            // this.listQuery.offset = res.data.data.offset
                            // this.total = offset + data.length + (data.length >= this.listQuery.pageSize ? 1 : 0)
                            this.total = res.data.data.total
                            for (let i = 0; i < data.length; i++) {
                                let size = data[i].size
                                data[i].name = data[i].name.toString()
                                data[i].changeTime = this.formatDate(data[i].modTime * 1000)
                                if (size > 0) {
                                    data[i].size = this.formatFileSize(data[i].size)
                                }
                                data[i].dir = data[i].isDir ? '目录' : '文件'
                                // 对 name 添加关键词高亮
                                data[i].nameC = data[i].name
                                if (arr && arr.length > 0) {
                                    data[i].name = this.highlightKeywords(data[i].name, arr)
                                }

                                this.tableData = data
                            }
                            resolve()
                            // if (data.list.length > 0) {
                            //     resolve(true)
                            // } else {
                            //     resolve(false)
                            // }
                        } else {
                            this.$message.warning(res.data.message);
                            reject(res.data.message)
                        }
                    }).catch(e => {
                        console.log(e)
                        reject(e)
                    })
                }).then(() => {
                    this.toggleLoading()
                }).catch(err => {
                    this.toggleLoading()
                })
            },
            highlightKeywords(text, keywords) {
                if (!keywords || keywords.length === 0) return text

                let result = text
                keywords.forEach(keyword => {
                    if (keyword) {
                        // 使用正则表达式进行全局、不区分大小写的替换
                        const regex = new RegExp(`(${this.escapeRegExp(keyword)})`, 'gi')
                        result = result.replace(regex, '<span class="highlight">$1</span>')
                    }
                })
                return result
            },

            // 转义正则表达式特殊字符
            escapeRegExp(string) {
                return string.replace(/[.*+?^${}()|[\]\\]/g, '\\$&')
            },
            addWatch() {
                this.toggleAddLoading()
                let url
                if (this.watchData.url) {
                    url = this.watchData.url + "/files/watch/addWatch"
                } else {
                    url = this.config_url + "/files/watch/addWatch"
                }
                axios.post(url, this.watchData).then(res => {
                    if (res.data.status === 200) {
                        this.$message.success('添加成功');
                        this.dialogVisibleAdd = false
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch(err => {
                    this.$message.error(err);
                }).finally(() => {
                    this.toggleAddLoading()
                })
            },
        }
    })
</script>
</html>